body
{
	background:#666666;
}

#profilePicture
{
	height: 140px;
    width: auto;
}

#placeholderImage
{
	width: 73%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

#ingameBack
{
	position:absolute;
	left: 20px;
	top:490px;
}
#gameEnd
{
	position:absolute;
	right: 20px;
	top:490px;
}